<% include ./partials/header%>
<div class="container-fluid my-container">
        <div class="row">
            <% for (var i = 0; i < results.length; i++){%>
            <div class="col-6 col-sm-3 col-md-2 mycolumn">
                <h2><%= results[i].Country %></h2>
                    <div>
                        <label>TotalCases:</label>
                        <spam><%= results[i].TotalCases %></spam>
                    </div>
                    <!-- <div>
                        <label>New Cases</label>
                        <spam><%= results[i].TotalNewCases %></spam>
                    </div> -->
                    <div class="death">
                        <label>Total Death:</label>
                        <spam><%= results[i].TotalDeath %></spam>
                    </div>

                    <div class="recovered">
                        <label>Recovered:</label>
                        <spam><%= results[i].TotalRecovered %></spam>
                    </div>
                    <div>
                        <label>Active Cases:</label>
                        <spam><%= results[i].TotalActiveCases %></spam>
                    </div>
                    <div class="critical">
                        <label>Critical Cases:</label>
                        <spam><%= results[i].TotalCriticalCases %></spam>
                    </div>
                    <div>
                        <label>Total Test Done:</label>
                        <spam><%= results[i].TotalTestDone %></spam>
                    </div>
            </div>
            <% } %>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- <script>
    $(document).on("click", ".saveArticle", function () {
        event.preventDefault();
        var image = $(this).parent().parent().parent().children().eq(0).children().eq(0).attr("src");
        var title = $(this).parent().parent().children().eq(0).text();
        var link = $(this).parent().children().eq(0).attr("href");
        var content = $(this).parent().parent().children().eq(1).text();
        $.ajax({
            url: "/saveArticle",
            method: "POST",
            data: { title: title, link: link, content: content, image: image }
        }).then(function (response) {
            console.log(response)
        })
    })
</script> -->
<% include ./partials/footer%>
</body>
</html>